@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #f1ecec;
  --background-color: #191917;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f3f3f3;  
    --background-color: #0c0c0c;
  }
} */

/* https://stackoverflow.com/questions/18548465/prevent-scrollbar-from-adding-up-to-the-width-of-page-on-chrome */
/* Chosen as best way of not letting scrollbar mess with width calculations */
html {
  overflow-y: scroll;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}